<div class="modal" tabindex="-1" id="edit-modal-{{item.id}}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Update {{item.item}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="{% url 'update_todo' pk=item.id %}" method="post" >
            {% csrf_token %}
        <div class="modal-body">
            <input class="form-control" type="text" placeholder="Default input" value="{{item.item}}" name="item">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
        </div>
    </form>
    </div>
  </div>